.wards{
    margin-top: -1.1rem;
    width: 100%;
    background-color: rgb(189, 184, 184);
    
    padding: 2rem;
}

.wards_box{
    width: 40%;
    margin: auto;
    border-radius: .7rem;
    padding: 0rem 2rem;
    height: 70%;
    padding-block: 5rem;
    background-color: white;
}

.wards_box_head{
    display: flex;
    align-items: center;
    gap: 1rem;
    border-bottom: solid 4px red;
    margin-top: -2.3rem;

}

.wards_box_head_img{
    border-radius: 50%;
}

.wards_box_ward{
    padding: 0.4rem 1rem;
    color: black;
    border-bottom: none;
    cursor: pointer;
}

.wards_box_ward:hover{
    background-color: rgb(199, 255, 199);
    border-radius: .3rem;
}

@media screen and (max-width: 35em) {

    .wards{
        margin-left: -1rem;
        
    }
    .wards_box{
        width: 90%;
        margin: auto;
        margin-left: -.7rem;
    }

    .wards_box h2{
        font-size: .8rem;
    }

    .wards_box_ward{
        width: 100%;
        margin-left: -1.2rem;
        font-size: .8rem;
        display: flex flexbox;
        padding: .5rem 0;
    }
}
@media screen and (min-width: 450px) and (max-width: 768px) {

    .wards{
        margin-left: -1rem;
        
    }
    .wards_box{
        width: 80%;
        margin: auto;
        margin-left: -.3rem;
    }

    .wards_box_head h2{
        font-size: 1rem;
    }

    .wards_box_ward{
        width: 100%;
        margin-left: -1.2rem;
        font-size: .9rem;
        display: flex flexbox;
        padding: .8rem 0;
    }
}
@media screen and (min-width: 770px) and (max-width: 1024px) {

    .wards{
        margin-left: -1rem;
        
    }
    .wards_box{
        width: 80%;
        margin: auto;
        margin-left: -.3rem;
    }

    .wards_box_head h2{
        font-size: 1.2rem;
    }

    .wards_box_ward{
        width: 100%;
        margin-left: -1.2rem;
        font-size: .9rem;
        display: flex flexbox;
        padding: 1rem 1rem;
    }
}